*{
  font-family:  var(--pix-body-font),sans-serif;
  color: rgb(24, 24, 24);
  text-decoration: none ;
}

.category{
   text-align: center;
   font-size: 15px;
   cursor: pointer;
}

.image{
   width: 180px;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.image > img{
   width: 100%;
   border-radius: 8px;
   padding: 4px;
}


.flex{
   display:flex
}

.ireId{
   color: gray;
}

.green{
   color: rgb(39, 222, 57);
}

.price{
   font-size: 20px;
}

.button{
   width: 120px;
   height: 35px;
   justify-content: center;
   align-items: center;
   background-color: teal;
   color: white;
   border:none;
   border-radius: 0px 5px 5px 0px;
   cursor: pointer;
}

.cart{
   border-radius:5px ;
   margin: auto;
   width: 100%;
}

input::placeholder {
   padding: 10px;
 }

 .see-more{
   color: teal;
   font-size: 12px;
   align-items: center;
   float: right;
 }

 .home-body{
   padding: 20px;
 }

 .d-none{
   display: none;
 }

 .teal{
   color: teal;
 }

 .help-btn{
   width: 50px;
   height: 30px;
   justify-content: center;
   align-items: center;
   background-color: white;
   color: teal;
   border:2px solid teal;
   border-radius:5px;
   cursor: pointer;
   font-weight: 500;
 }

 .drop-icon{
   font-size: x-small;
   padding-top: 3px;
 }

.sub-headings{
   color: grey;
   font-size: 14px;
   padding-left: 20px;
}
 

.header-wrap{
   height: 60px;
justify-content: space-between;
}

.header-left,.header-right{
   width: 40%;
   justify-content: space-evenly;
   align-items: center;
   font-size: 14px;
   font-weight: 500;
}

.header-right{
   width: 45%;
}
.header-left > img{
   width: 15%;
}
.header-right > img{
   width: 28px;
}

.header-right > input{
   height: 28px;
   border: 1px solid grey;
   border-radius: 4px;
}

.search-icon{
   margin-left: -40px;
}
.Top-menu-wrap{
   height: 100px;
   background-color: rgb(240, 248, 248) ;
   padding: 20px;
}

.company-wrap{
   width: 60%;
   justify-content: space-evenly;
   
}

.company-wrap > div,.category-drop-wrap{
   width: 19%;
   padding: 7px;
   font-size: 13px;
   background-color: white;
   border: 1px solid rgb(227, 226, 226);
   border-radius:5px;
   font-weight: 500;
   justify-content: space-between;
   cursor: pointer;
}

.company-wrap div,.category-drop-wrap div{
color: grey;
}
.category-drop-wrap > div{
   width: 50%;
   justify-content: space-between;
}
.category-drop-wrap{
   width: 90%;
   margin-top: 30px;
}

#search-link{
   border: 2px solid teal;
}


.search-input-wrap{
   margin: auto;
   justify-content: center;
}

.search-bar{
   width: 300px;
   border-radius: 5px 0px 0px 5px;
   border: 1px solid rgb(231, 229, 229);
}

.search-result-wrap{
   width: 95%;
   display: grid;
   grid-template-columns: repeat(5,15%);
   justify-content: center;
   padding: 20px 0px 0px 0px;
   gap: 20px;
   background-color: rgb(240, 248, 248) ;
   border-radius: 10px;
   margin: auto;
}

.search-result-card{
   border:1px solid rgb(236, 235, 235);
   padding: 3%;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   background-color: white;
}

.display-name{
   height: 32px;
}

.search-result-card > img{
   width: 100%;
   height: 200px;
   border-radius: 8px;
}

.search-result-card p, .search-result-card div{
   font-size: 11px;
}

.search-result-card div{
   margin: 5px;
}
.loading-spinner-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 300px; 
 }
 
 .loading-spinner {
   border: 4px solid rgba(0, 0, 0, 0.1);
   border-top: 4px solid #3498db; 
   border-radius: 50%;
   width: 40px;
   height: 40px;
   animation: spin 1s linear infinite;
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

 